body {
  background-color: black;
}
.header {
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
  border: 2px solid rgb(219, 7, 113); 
  border-radius: 50px;
  margin-bottom: 200px;
}
.footer {
  display: flex;
  background-color: black;
  align-items: center;
  border: 2px solid rgb(219, 7, 113);
  border-radius: 50px;
  height: 25px;
  justify-content: center;
  z-index: 1000;
  position: fixed;
  bottom: 10px;
  padding: 10px;
}
#copy {
  font-size: 20px;
  color: cyan;
}
.container {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.item {
  border: 2px solid rgb(219, 7, 113);
  width: 275px;
  height: 180px;
  background-color: black;
  margin-bottom: 75px;
}
.container1 {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.item1 {
  margin-bottom: 100px;
}
h1 {
  font: bold;
  font-size: 40px;
  font-family: arial;
  color: cyan;
  text-align: center;
}
h2 {
  font: bold;
  font-size: 30px;
  font-family: arial;
  color: cyan;
  text-align: center;
}
p {
  font-size: 20px;
  font-family: arial;
  color: cyan;
  text-align: center;
}
button {
  padding: 15px 30px;
  border-radius: 50px;
  border-color: rgb(219, 7, 113);
  font-size: medium;
  font-weight: bold;
  text-decoration: none;
  background-color: black;
  color: cyan;
  
}
button:hover {
  background-color: cyan;
  cursor: pointer;
  color: rgb(219, 7, 113);
}
#popup {
  border: 2px solid rgb(219, 7, 113);
  width: 420px;
  height: 600px;
  background-color: black;
  margin-bottom: 150px;
}
.popup1 {
  border: 3px solid rgb(219, 7, 113);
  margin: 10px;
  border-radius: 50px; 
}
.keypad {
  width: 100px;
  height: 100px;
  border-radius: 25px;
  border-color: rgb(219, 7, 113);
  font-weight: bold;
  text-decoration: none;
  margin-left: 25px;
  margin-top: 5px;
  font-size: xx-large;
}
#popup2 {
  border: 2px solid rgb(219, 7, 113);
  width: 420px;
  height: 675px;
  background-color: black;
  margin-bottom: 75px;
}
.popup2Box {
  border: 3px solid rgb(219, 7, 113);
  margin: 10px;
  height: 580px;
  border-radius: 50px;
}
 #popup3 {
  border: 2px solid rgb(219, 7, 113);
  width: 420px;
  height: 500px;
  background-color: black;
  margin-bottom: 200px;
}
#cam {
  margin: 50px;
  width: 320px;
  height: 240px;
  transform: scaleY(-1);
  background-color: black;
  border: 2px solid rgb(219, 7, 113);
}
#close {
  margin-left: 155px;
}